input[type=text], input[type=email], textarea {
	width: 99%;
	max-width: 960px;
	margin-top: 5px;
	margin-bottom: 15px;
}

label {
	display: block;
}

input[type=submit] {
	background-color: #4aaaa5;
  	border: none;
  	color: white;
  	padding: 7px 18px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 13px;
}

input::placeholder, textarea::placeholder {
	opacity: 0.5;
}

i {
	padding-right: 3px;
}