.image {
	background-size: 200px;
	width: 200px;
	height: 200px;
	list-style-type: none;
	margin-right: 60px;
	margin-bottom: 60px;
}

.detail {
	padding-left: 0;
}

.image-words {
	text-align: center;
	width: 100%;
	line-height: 2;
	background-color: #4aaaa5;
	z-index: 1;
	margin-top: 70%;
	color: #ffffff;
}