html, body {
	height: 100%;
}

body {
	margin: 0 auto;
}

header ul h1 {
	margin: 0 auto;
	background-color: #4aaaa5;
	color: white;
	padding: 20px;
}

header ul {
	max-width: 990px;
	list-style-type: none;
	overflow: hidden;
	margin: 0 auto;
	padding-left: 30px;
    padding-right: 30px;
}

li {
	float: left;
}

nav {
	float: right;
	margin-top: 29px;
	margin-bottom: 29px;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	border-right: 1px solid #bbb;
	padding-top: 0;
	padding-bottom: 0;
	color: #999999;
	text-decoration: none;
}

header {
	border: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

main {
	height: 85%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	overflow: auto;
}

.container {
	position: absolute;
	color: #777777;
	padding: 30px;
	background-color: #ffffff;
	max-width: 960px;
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	overflow: auto;
	max-height: 60%;
}

.title {
	color: #4aaaa5;
	margin: 0;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-color: #cccccc;
	overflow: auto;
}

.detail {
	padding-top: 30px;
}

footer {
	width: 100%;
	clear: both;
	overflow: hidden;
	height: 40px;
	border-top-style: solid;
	border-top-width: thick;
	border-color: #4aaaa5;
	background-color: #666666;
	bottom: 0;
	background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    text-align: center;
    font-size: smaller;
}

small {
	bottom: 0;
	color: #ffffff;
}


